#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}

#wrapper {
  display: table-cell;
}

#footer {
  overflow: hidden;
  /*for FF on Windows 7*/
  display: table-footer-group;
  height: 1%;
}

.border-animation {
  --border-width: 5px;
  --animation-speed: 0.5s;
  --color: tomato;
  color: var(--color);
  position: relative;
  display: inline-block;
  font-size: 16px;
  transform: scale(1, 0.8);
  border: var(--border-width) solid transparent;
}

.border-animation .border-animation__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 20px 10px;
  background: #333;
  z-index: 1;
  border: solid var(--border-width) transparent;
}

.border-animation:before, .border-animation:after {
  content: '';
  position: absolute;
  background: var(--color);
}

.border-animation:focus:before, .border-animation:hover:before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}

.border-animation:focus:after, .border-animation:hover:after {
  animation: afterBorders var(--animation-speed) forwards ease-in-out;
}

.border-animation:focus, .border-animation:hover {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}

.border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
  animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  animation-delay: calc(var(--animation-speed) / 5 * 2);
}

@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}

@keyframes background {
  to {
    background: #555;
  }
}

@media (min-width: 850px) {
  body {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .border-animation {
    font-size: 6em;
    line-height: 1em;
  }
}

.button-bubble1 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.button-bubble1::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate(50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

.button-bubble1:hover {
  cursor: pointer;
  color: #161616;
}

.button-bubble1:hover::before {
  transform: translate(50%, -50%) scale(15);
}

.button-cross-wrap {
  position: relative;
}

button.button-cross {
  position: absolute;
  top: 0%;
  left: 10px;
  transform: translateY(-55%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: 2px solid #a133b4;
  font-size: 24px;
  color: #a133b4;
  transition: 0.5s;
  overflow: hidden;
}

button.button-cross:hover {
  color: #fff;
}

button.button-cross span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(161, 51, 180, 0.5);
  transition: 0.5s;
  z-index: -1;
}

button.button-cross span:nth-child(1) {
  top: -100%;
  left: -100%;
}

button.button-cross:hover span:nth-child(1) {
  top: 0;
  left: 0;
}

button.button-cross span:nth-child(2) {
  bottom: -100%;
  left: -100%;
}

button a:hover span:nth-child(2) {
  bottom: 0;
  left: 0;
}

button.button-cross span:nth-child(3) {
  top: -100%;
  right: -100%;
}

button a:hover span:nth-child(3) {
  top: 0;
  right: 0;
}

button.button-cross span:nth-child(4) {
  bottom: -100%;
  right: -100%;
}

button.button-cross:hover span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.button-text-annimate-wrap {
  position: relative;
  height: 60px;
  display: inline-block;
}

.button-text-annimate {
  background: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.button-text-annimate span {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}

.button-text-annimate:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}

.button-text-annimate:hover:before, .button-text-annimate:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}

.button-text-annimate:hover span,
.button-text-annimate:focus span {
  opacity: 1;
  transform: translate(0, 0);
}

.button-text-annimate:hover span:nth-child(1),
.button-text-annimate:focus span:nth-child(1) {
  transition-delay: 0.025s;
}

.button-text-annimate:hover span:nth-child(2),
.button-text-annimate:focus span:nth-child(2) {
  transition-delay: 0.05s;
}

.button-text-annimate:hover span:nth-child(3),
.button-text-annimate:focus span:nth-child(3) {
  transition-delay: 0.075s;
}

.button-text-annimate:hover span:nth-child(4),
.button-text-annimate:focus span:nth-child(4) {
  transition-delay: 0.1s;
}

.button-text-annimate:hover span:nth-child(5),
.button-text-annimate:focus span:nth-child(5) {
  transition-delay: 0.125s;
}

.button-text-annimate:hover span:nth-child(6),
.button-text-annimate:focus span:nth-child(6) {
  transition-delay: 0.15s;
}

.btn-grad {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
}

.btn-grad:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.btn-grad svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-grad svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  transition: all 600ms ease;
}

.btn-grad span {
  background: #ff8282;
  background: linear-gradient(to right, #ff8282 0%, #e178ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-4 {
  background-color: #000;
  padding: 20px;
}

@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }
  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }
  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }
  80% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

:root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}

.btn-atom {
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--primary);
  border: 0.15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
}

.btn-atom:hover .dot,
.btn-atom:focus .dot {
  animation: atom 4s infinite linear;
  display: block;
}

.dot {
  content: '';
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: var(--primary);
  border-radius: 1em;
  border: 0.25em solid var(--solid);
  box-shadow: 0 0 0.7em var(--solid), 0 0 2em var(--primary);
}

.btn-mat {
  position: relative;
  background: #3D4C53;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  overflow: hidden;
  display: flex;
  transition: .2s all;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-mat:hover .btnTwo {
  transform: translateX(0);
}

.btn-mat:hover .btnText {
  transform: translateX(40px);
  width: calc(100% - 40px);
}

.btn-mat .btnTwo {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  transform: translateX(-40px);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #26A69A;
  transition: .3s all;
  justify-items: flex-start;
}

.btn-mat .btnTwo .btnText2 {
  display: block;
  color: #FFF;
}

.btn-mat .btnText {
  display: block;
  color: white;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-group2 [anim="ripple"] {
  position: relative;
  overflow: hidden;
}

.button-group2 [anim="ripple"]:before {
  content: '';
  position: absolute;
  display: block;
  background: var(--ripple-background, white);
  border-radius: 50%;
  pointer-events: none;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

.button-group2 button {
  --ripple-background: white;
  --ripple-opacity: 0.3;
  --ripple-duration: 600ms;
  border: 1px solid #e02200;
  border-radius: 0;
  padding: 0.75em 3em;
  font-size: 1em;
  outline: none;
  display: inline-block;
  background: tomato;
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.button-group2 .button2 {
  --ripple-background: black;
  --ripple-opacity: 0.1;
  --ripple-duration: 600ms;
  display: inline-block;
  padding: 0.75em 3em;
  background: whitesmoke;
  color: black;
  text-decoration: none;
  border: 1px solid gainsboro;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms;
}

.button-group2 .button2:hover {
  background-color: #ededed;
}

.button-group2 .rainbow {
  --ripple-opacity: 1;
  --ripple-background: radial-gradient(circle at center, rebeccapurple, dodgerblue, olive, gold, orange, tomato);
  --ripple-duration: 2000ms;
  --ripple-easing: cubic-bezier(0, .5, .5, 1);
  background-color: skyblue;
  color: rgba(255, 255, 255, 0.7);
  transition: background-color 300ms, color 300ms;
}

.button-group2 .rainbow:hover {
  background-color: #b3e0f2;
  color: white;
}

.button-bubble2 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.button-bubble2::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

.button-bubble2:hover {
  cursor: pointer;
  color: #161616;
}

.button-bubble2:hover::before {
  transform: translate(-50%, -50%) scale(15);
}

.button-bubble3 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.button-bubble3::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

.button-bubble3:hover {
  cursor: pointer;
  color: #161616;
}

.button-bubble3:hover::before {
  transform: translate(-50%, -50%) scale(15);
}

.button-pulse {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
}

.button-pulse:hover {
  cursor: pointer;
}

.button-pulse::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #2d3058;
  transform-origin: center;
  transform: scale(1);
}

.button-pulse:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

.button-slide1 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
}

.button-slide1::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.button-slide1:hover {
  cursor: pointer;
}

.button-slide1:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}

.button-slide2 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #2d3058;
}

.button-slide2::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.button-slide2:hover {
  cursor: pointer;
}

.button-slide2:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.input-outline {
  position: relative;
  display: inline-block;
}

.input-outline input {
  width: 160px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: #2d3058;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
}

.input-outline input:focus {
  outline: none;
}

.input-outline input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-outline span {
  position: absolute;
  background-color: #fc2f70;
  transform-origin: center;
  transition: transform 0.5s ease;
}

.input-outline .bottom,
.input-outline .top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.input-outline .left,
.input-outline .right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.input-outline .top {
  top: 0;
}

.input-outline .bottom {
  bottom: 0;
}

.input-outline .left {
  left: 0;
}

.input-outline .right {
  right: 0;
}

.input-outline input:focus ~ .top,
.input-outline input:focus ~ .bottom {
  transform: scaleX(1);
}

.input-outline input:focus ~ .left,
.input-outline input:focus ~ .right {
  transform: scaleY(1);
}

.input-trace {
  position: relative;
  display: inline-block;
}

.input-trace input {
  width: 160px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: #2d3058;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
}

.input-trace input:focus {
  outline: none;
}

.input-trace input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-trace span {
  position: absolute;
  background-color: #fc2f70;
  transition: transform 0.1s ease;
}

.input-trace .bottom,
.input-trace .top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.input-trace .left,
.input-trace .right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.input-trace .bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.input-trace input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.input-trace .right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

.input-trace input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.input-trace .top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

.input-trace input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.input-trace .left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

.input-trace input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}

.input-underline {
  position: relative;
  display: inline-block;
}

.input-underline input {
  width: 160px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent !important;
  border: 1px solid transparent;
  border-bottom-color: rgba(61, 239, 255, 0.3) !important;
}

.input-underline input:hover {
  border-width: 0px !important;
  border-bottom-width: 1px !important;
}

.input-underline input:focus {
  outline: none;
}

.input-underline input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-underline span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.input-underline input:focus ~ span {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.switches-1 {
  transition: .25s ease-in-out;
}

.switches-1 *,
.switches-1 *:before,
.switches-1 *:after {
  transition: inherit;
}

.switches-1 .checkbox-label {
  display: block;
  background: #fff;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 0 0 2px #ccc;
}

.switches-1 .checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  min-width: 300px;
  line-height: 30px;
  opacity: 0;
  color: #13bf11;
}

.switches-1 .checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 75px;
  text-align: right;
  opacity: 1;
  min-width: 300px;
  line-height: 30px;
  opacity: 1;
  color: tomato;
}

.switches-1 .checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 28px;
  height: 28px;
  width: 30px;
  background: tomato;
}

.switches-1 .checkbox {
  position: absolute;
  left: -5000px;
}

.switches-1 .checkbox:checked + .checkbox-label .on {
  left: 75px;
  opacity: 1;
}

.switches-1 .checkbox:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}

.switches-1 .checkbox:checked + .checkbox-label:before {
  left: 30px;
  background: #13bf11;
}

.switches-grad {
  display: none;
}

.switches-grad + label {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 130px;
  background: linear-gradient(to right, #fd1a15 0, #fc8b34 45%, #7fd03e 55%, #007177 100%) 0 0;
  background-size: 650px 100%;
  border-radius: 70px;
  padding: 7px;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}

.switches-grad + label:before {
  content: "Off";
  width: 116px;
  height: 116px;
  position: absolute;
  left: 7px;
  top: 7px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 116px;
  font-size: 35px;
  font-weight: bold;
  color: #fd1a15;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
}

.switches-grad + label:active:before {
  transform: scale(0.95);
}

.switches-grad:checked + label {
  background-position-x: -350px;
}

.switches-grad:checked + label:before {
  content: "On";
  color: #007177;
  left: 177px;
}

.switches-3-wrapper {
  margin-bottom: 20px;
}

.switches-3-wrapper label {
  display: block;
  left: 0px;
  top: 0;
  position: relative;
  width: 300px;
  height: 40px;
  z-index: 10;
  line-height: 40px;
  font-weight: bold;
  background: #303030;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
  text-align: center;
}

.switches-3-wrapper label:after {
  content: "ON";
  width: 150px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background: #00CCFF;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

.switches-3-wrapper #checkbox {
  display: none;
}

.switches-3-wrapper :checked + label {
  left: 0px;
}

.switches-3-wrapper :checked + label:after {
  left: 150px;
  background: #FC6666;
  content: "OFF";
}

#app-cover {
  display: table;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 20px;
  counter-reset: button-counter;
}

.row-switches {
  display: table-row;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: content-box;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 42px;
  background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}

/* Button 2 */
#button-2 .knobs:before,
#button-2 .knobs:after {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-2 .knobs:before {
  content: 'YES';
}

#button-2 .knobs:after {
  content: 'NO';
}

#button-2 .knobs:after {
  right: -28px;
  left: auto;
  background-color: #F44336;
}

#button-2 .checkbox:checked + .knobs:before {
  left: -28px;
}

#button-2 .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-2 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 3 */
#button-3 .knobs:before {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 42px;
  background-color: #F44336;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 4 */
#button-4 .knobs:before,
#button-4 .knobs:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-4 .knobs:before {
  content: 'YES';
}

#button-4 .knobs:after {
  content: 'NO';
}

#button-4 .knobs:after {
  top: -28px;
  right: 4px;
  left: auto;
  background-color: #F44336;
}

#button-4 .checkbox:checked + .knobs:before {
  top: -28px;
}

#button-4 .checkbox:checked + .knobs:after {
  top: 4px;
}

#button-4 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 5 */
#button-5 {
  perspective: 60px;
  overflow: visible;
}

#button-5 .knobs:before,
#button-5 .knobs span {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-5 .knobs:before {
  background-color: #03A9F4;
}

#button-5 .knobs span:before {
  content: 'YES';
}

#button-5 .knobs:before,
#button-5 .layer {
  transform: rotateY(0);
  transform-origin: center;
}

#button-5 .checkbox:checked + .knobs:before,
#button-5 .checkbox:checked + .knobs span {
  left: 42px;
}

#button-5 .checkbox:checked + .knobs:before {
  transform: rotateY(180deg);
  background-color: #f44336;
}

#button-5 .checkbox:checked + .knobs span:before {
  content: 'NO';
  left: 42px;
}

#button-5 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
  transform: rotateY(-180deg);
}

#button-5 .knobs,
#button-5 .knobs:before,
#button-5 .layer {
  transition: 0.3s ease all;
}

/* Button 6 */
#button-6 {
  overflow: visible;
}

#button-6 .knobs:before {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
}

#button-6 .layer,
#button-6 .knobs,
#button-6 .knobs:before {
  transform: rotateZ(0);
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-6 .checkbox:checked + .knobs {
  transform: rotateZ(-180deg);
}

#button-6 .checkbox:checked + .knobs:before {
  content: 'NO';
  background-color: #f44336;
  transform: rotateZ(180deg);
}

#button-6 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
  transform: rotateZ(180deg);
}

/* Button 7 */
#button-7 .knobs:before,
#button-7 .knobs:after,
#button-7 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
}

#button-7 .knobs:before {
  content: 'YES';
  left: 4px;
  color: #fff;
  opacity: 1;
}

#button-7 .knobs:after {
  content: 'N';
  left: 42px;
  color: #fff;
  width: 14px;
  text-align: left;
  padding: 9px 7px;
  background-color: #f44336;
  opacity: 0;
}

#button-7 .knobs:before,
#button-7 .knobs:after {
  transition: 0.3s ease all;
  z-index: 2;
}

#button-7 .knobs span {
  left: 4px;
  background-color: #03A9F4;
  transition: 0.2s ease all;
  z-index: 1;
}

#button-7 .checkbox:checked + .knobs:before {
  opacity: 0;
}

#button-7 .checkbox:checked + .knobs:after {
  opacity: 1;
}

#button-7 .checkbox:checked + .knobs span {
  top: 14px;
  left: 56px;
  width: 2px;
  height: 2px;
  padding: 3px;
  background-color: #fff;
  z-index: 3;
}

#button-7 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 8 */
#button-8 .knobs:before,
#button-8 .knobs:after,
#button-8 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-8 .knobs:before {
  content: 'YES';
  color: #fff;
  left: 4px;
}

#button-8 .knobs:after {
  content: 'NO';
  left: 42px;
  color: #fff;
  background-color: #f44336;
  opacity: 0;
}

#button-8 .knobs:before,
#button-8 .knobs:after {
  z-index: 2;
}

#button-8 .knobs span {
  left: 4px;
  background-color: #03A9F4;
  z-index: 1;
}

#button-8 .checkbox:checked + .knobs:before {
  opacity: 0;
}

#button-8 .checkbox:checked + .knobs:after {
  opacity: 1;
}

#button-8 .checkbox:checked + .knobs span {
  background-color: #fcebeb;
  transform: scale(4);
}

/* Button 9 */
#button-9 .knobs:before,
#button-9 .knobs:after,
#button-9 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-9 .knobs:before {
  content: 'YES';
  left: 4px;
}

#button-9 .knobs:after {
  content: 'NO';
  right: -24px;
}

#button-9 .knobs:before,
#button-9 .knobs:after {
  color: #fff;
  z-index: 2;
}

#button-9 .knobs span {
  left: 4px;
  background-color: #03a9f4;
  z-index: 1;
}

#button-9 .checkbox:checked + .knobs:before {
  left: -24px;
}

#button-9 .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-9 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: #F44336;
}

#button-9 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: '';
  left: 4px;
  background-color: #03A9F4;
}

#button-10 .knobs:after {
  content: 'NO';
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 42px;
  background-color: #F44336;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 11 */
#button-11 {
  overflow: visible;
}

#button-11 .knobs {
  perspective: 70px;
}

#button-11 .knobs:before,
#button-11 .knobs:after,
#button-11 .knobs span {
  position: absolute;
  top: 4px;
  border-radius: 2px;
}

#button-11 .knobs:before,
#button-11 .knobs:after {
  width: 20px;
  height: 10px;
  color: #4e4e4e;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

#button-11 .knobs:before {
  content: 'YES';
  left: 4px;
}

#button-11 .knobs:after {
  content: 'NO';
  right: 4px;
}

#button-11 .knobs span {
  right: 4px;
  width: 33px;
  height: 28px;
  background-color: #03a9f4;
  transform: rotateY(0);
  transform-origin: 0% 50%;
  transition: 0.6s ease all;
  z-index: 1;
}

#button-11 .checkbox:checked + .knobs span {
  transform: rotateY(-180deg);
  background-color: #f44336;
}

#button-11 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 12 */
#button-12 .knobs:before,
#button-12 .knobs:after,
#button-12 .knobs span,
#button-12 .knobs span:before,
#button-12 .knobs span:after {
  position: absolute;
  top: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-12 .knobs:before {
  content: 'YES';
  left: 4px;
}

#button-12 .knobs:after {
  content: 'NO';
  right: 4px;
}

#button-12 .knobs:before,
#button-12 .knobs:after {
  width: 27px;
  height: 10px;
  color: #4e4e4e;
  padding: 9px 3px;
  z-index: 1;
}

#button-12 .knobs span {
  display: inline-block;
  z-index: 2;
}

#button-12 .knobs span,
#button-12 .knobs span:before,
#button-12 .knobs span:after {
  width: 20px;
  height: 10px;
  padding: 9px 4px;
}

#button-12 .knobs span:before,
#button-12 .knobs span:after {
  content: '';
  top: 0;
}

#button-12 .knobs span:before {
  left: -28px;
  background-color: #F44336;
}

#button-12 .knobs span:after {
  right: -42px;
  background-color: #03A9F4;
}

#button-12 .checkbox:checked + .knobs span:before {
  left: 4px;
}

#button-12 .checkbox:checked + .knobs span:after {
  right: -74px;
}

#button-12 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 13 */
#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-13 .knobs:before {
  content: 'YES';
  left: 4px;
}

#button-13 .knobs:after {
  content: 'NO';
  right: 4px;
}

#button-13 .knobs span {
  width: 25px;
  left: 37px;
  background-color: #03A9F4;
  z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
  left: 4px;
  background-color: #F44336;
}

#button-13 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 14 */
#button-14 .knobs:before,
#button-14 .knobs:after,
#button-14 .knobs span:before,
#button-14 .knobs span:after {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-14 .knobs:before,
#button-14 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-14 .knobs:before {
  content: 'YES';
  left: 4px;
}

#button-14 .knobs:after {
  content: 'NO';
  right: 4px;
}

#button-14 .knobs span {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#button-14 .knobs span:before {
  left: 4px;
  top: -28px;
  background-color: #F44336;
}

#button-14 .knobs span:after {
  top: 4px;
  left: 39px;
  background-color: #03A9F4;
}

#button-14 .knobs span:before,
#button-14 .knobs span:after {
  content: '';
  width: 23px;
  z-index: 2;
}

#button-14 .checkbox:checked + .knobs span:before {
  top: 4px;
}

#button-14 .checkbox:checked + .knobs span:after {
  top: -28px;
}

#button-14 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 15 */
#button-15 .knobs:before,
#button-15 .knobs:after {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  opacity: 1;
  border-radius: 2px;
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-15 .knobs:before {
  content: 'YES';
  left: 4px;
  background-color: #03A9F4;
}

#button-15 .knobs:after {
  content: 'NO';
  right: 4px;
  opacity: 0;
  transform: scale(4);
  background-color: #F44336;
}

#button-15 .checkbox:checked + .knobs:before {
  opacity: 0;
  transform: scale(4);
}

#button-15 .checkbox:checked + .knobs:after {
  opacity: 1;
  transform: scale(1);
}

#button-15 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 16 */
#button-16 .knobs:before {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-16 .checkbox:active + .knobs:before {
  width: 46px;
}

#button-16 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-16 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 42px;
  background-color: #F44336;
}

#button-16 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 17 */
#button-17 .knobs:before,
#button-17 .knobs span {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

#button-17 .knobs:before {
  transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 2;
}

#button-17 .knobs span {
  background-color: #03A9F4;
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}

#button-17 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 42px;
}

#button-17 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: #F44336;
}

#button-17 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

/* Button 18 */
#button-18 .knobs:before,
#button-18 .knobs span {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  background-color: #03A9F4;
  border-radius: 2px;
}

#button-18 .knobs:before {
  top: 50%;
  left: 8px;
  width: 20px;
  height: 10px;
  margin-top: -5px;
  background-color: transparent;
  z-index: 2;
}

#button-18 .knobs span {
  width: 20px;
  height: 10px;
  padding: 9px 4px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}

#button-18 .checkbox:active + .knobs:before {
  left: 10px;
  width: 46px;
  height: 4px;
  color: transparent;
  margin-top: -2px;
  background-color: #0095d8;
  transition: 0.3s ease all;
  overflow: hidden;
}

#button-18 .checkbox:active + .knobs span {
  width: 58px;
}

#button-18 .checkbox:checked:active + .knobs:before {
  left: auto;
  right: 10px;
  background-color: #d80000;
}

#button-18 .checkbox:checked:active + .knobs span {
  margin-left: -38px;
}

#button-18 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 47px;
}

#button-18 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: #F44336;
}

#button-18 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#ytd_link {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 10px;
  color: #fff;
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
  text-decoration: none;
  background-color: #ff0000;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #fff;
}

#ytd_link i {
  margin-right: 5px;
}

#leaderline {
  overflow: hidden;
}

#start1 {
  background-color: tomato;
  width: 50px;
  height: 50px;
}

#end1 {
  background-color: blue;
  width: 50px;
  height: 50px;
  float: right;
}

#end2 {
  background-color: blue;
  width: 50px;
  height: 50px;
}

#start2 {
  background-color: tomato;
  width: 50px;
  height: 50px;
  float: right;
}

.box-socks-wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 40px;
  margin-top: 30px;
}

.box1, .box2, .box3, .box4 {
  background: #ccc;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.box1 {
  z-index: 1;
}

.box2 {
  background: tomato;
  z-index: 2;
}

.box3 {
  background: blue;
  z-index: 3;
}

.box4 {
  background: green;
  z-index: 4;
}

#content-scrolly {
  margin: 0 0 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#aside1-scrolly {
  order: 0;
}

#aside2-scrolly {
  order: 3;
}

#fixed-example1,
#fixed-example2 {
  background: #ccf;
  padding: 10px;
  width: 140px;
  margin: 0 0 10px;
}

.is_stuck {
  margin: 0 !important;
}

#column-scrolly {
  padding: 10px;
  background: #afa;
  order: 2;
  margin: 0 10px;
}

#column-scrolly p {
  margin: 0 0 10px;
}

ul.sample-nav {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul.sample-nav li {
  border-top: 1px solid #fff;
  margin: -1px 0 1px;
  width: 100%;
  float: left;
}

ul.sample-nav a {
  color: #000;
  display: block;
  padding: 5px 10px;
}

.ad-box {
  text-align: center;
  background: #faa;
  font-size: 14px;
  line-height: 100px;
  padding: 10px;
  margin: 0 0 10px;
}

.wrapper-follow-link a {
  text-decoration: none;
  color: tomato;
  background: rgba(240, 233, 241, 0.4);
}

.highlight-link {
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background: #fff8a3;
}

#svg-fon-text {
  background-color: #34304c;
}

.svg-fon-text {
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  background: #fff;
  padding: 0.5rem 1rem;
  filter: url("#goo");
}

.goo:focus {
  outline: 0;
}

.resize-active {
  transition: none !important;
}

.resize-active *,
.resize-active *:before,
.resize-active *:after {
  transition: inherit !important;
}

.header-menu-wrapper {
  padding: 15px 0;
  position: relative;
  background: #ccc;
}

.header-menu-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .header-menu-wrapper .container {
    align-items: center;
  }
}

.logo {
  width: 100px;
  height: 50px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.nav-opener {
  display: none;
  width: 40px;
  height: 40px;
  background: #333;
  position: relative;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .nav-opener {
    display: block;
  }
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  height: 4px;
  margin-top: -2px;
  transition: all 0.2s linear;
}

.nav-opener:before, .nav-opener:after {
  content: "";
  top: 30%;
}

.nav-opener:after {
  top: 70%;
}

.nav-opener:hover {
  opacity: .9;
}

.nav-drop {
  transition: all 0.25s linear;
}

@media (max-width: 767px) {
  .nav-drop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }
}

.nav-active .nav-opener span {
  opacity: 0;
}

.nav-active .nav-opener:before, .nav-active .nav-opener:after {
  transform: rotate(45deg);
  top: 50%;
  left: 15%;
  right: 15%;
}

.nav-active .nav-opener:after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .nav-active .nav-drop {
    max-height: 4000px;
  }
}

@media (max-width: 767px) {
  .nav-active #nav {
    transform: translateY(0);
  }
}

#nav {
  transition: all 0.25s linear;
}

@media (max-width: 767px) {
  #nav {
    transform: translateY(-100%);
    background: #333;
  }
}

#nav ul {
  display: flex;
  color: #333;
}

@media (max-width: 767px) {
  #nav ul {
    display: block;
    color: #fff;
  }
}

#nav a {
  display: block;
  position: relative;
  padding: 10px;
  color: inherit;
}

#nav a:hover, #nav a.highlighted {
  background: #999;
  color: #fff;
}

@media (max-width: 767px) {
  #nav a.highlighted .sub-arrow:before {
    content: "-";
  }
}

#nav a.has-submenu {
  padding-right: 25px;
}

#nav a .sub-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 7px;
  border-width: 5px;
  transform: translateY(-50%);
  border-style: solid dashed dashed dashed;
  border-color: #333 transparent transparent transparent;
}

@media (max-width: 767px) {
  #nav a .sub-arrow {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border: none;
    font: bold 16px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: #fff;
    border-radius: 4px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  #nav a .sub-arrow:before {
    content: "+";
  }
}

#nav .has-mega-menu {
  position: static !important;
}

#nav .has-mega-menu .mega-menu {
  margin-left: 0 !important;
  right: 0 !important;
  width: auto !important;
  max-width: none !important;
}

#nav .has-mega-menu .mega-menu li {
  display: flex;
}

@media (max-width: 767px) {
  #nav .has-mega-menu .mega-menu li {
    display: block;
  }
}

#nav .has-mega-menu .mega-menu .col {
  width: 33.33%;
  padding: 15px;
}

@media (max-width: 767px) {
  #nav .has-mega-menu .mega-menu .col {
    width: 100%;
  }
}

#nav .has-mega-menu .mega-menu .col ul {
  position: static;
  display: block;
  margin: 0;
  padding: 0 0 0 20px;
  background: transparent;
}

#nav .has-mega-menu .mega-menu .col li {
  color: #fff;
  display: list-item;
  list-style-type: disc;
  margin: 0 0 0.5em;
}

#nav .has-mega-menu .mega-menu .col a {
  color: inherit;
  display: inline;
  padding: 0;
}

#nav .has-mega-menu .mega-menu .col a:hover {
  background: transparent;
  color: blue;
}

#nav li {
  position: relative;
  padding: 0;
  margin: 0;
}

#nav li:after, #nav li:before {
  display: none;
}

#nav li > ul {
  position: absolute;
  display: none;
  background: green;
  color: #fff;
}

@media (max-width: 767px) {
  #nav li > ul {
    position: static;
  }
}

#nav li > ul ul {
  background: blue;
}

#nav li > ul ul ul {
  background: red;
}

#nav li > ul a {
  color: inherit;
}

#nav li > ul .sub-arrow {
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #fff;
}

.slider3d-list {
  top: 0 !important;
}

#slider-3d {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  position: relative;
}

.slider3d {
  margin-left: auto;
  margin-right: auto;
}

.left, .right {
  transform: translateY(-50%);
  cursor: pointer;
}

/*! Pushy - v1.3.0 - 2019-6-25
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
  display: block;
  color: #b3b3b1;
  padding: 15px 30px;
  text-decoration: none;
}

.pushy a:hover {
  color: #FFF;
}

.pushy ul:first-child {
  margin-top: 10px;
}

.pushy.pushy-left {
  left: 0;
}

.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy-container,
.pushy-open-left .push {
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right .pushy-container,
.pushy-open-right .push {
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
.pushy-container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}

.pushy-submenu > ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}

.pushy-submenu button:hover {
  color: #FFF;
}

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #fff transparent transparent;
  border-width: 6px 6px 0;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}

.pushy-submenu-open > ul {
  max-height: 1000px;
  visibility: visible;
}

.pushy-submenu-open .pushy-link {
  opacity: 1;
}

.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
  transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=sourcemaps/module2.css.map */
